
body{
    font-family: arial,sans-serif;
    line-height: 1.6;

}
h1{
    color: rgb(152, 152, 3);
}
header{
    background-color: #333;
    color: #fff;
    text-align: center;
}
main{
    padding: 2 rem;
}
.logo img{
    max-width: 90 px;
    height: auto;
}

footer{
    text-align: center;
    padding: 1rem 0;
    background-color: #444;
    color:#fff;
}
@media screen and (max-width:768px){
    header{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 1rem;
    }
}
